body{
    margin: 4px;
    padding: 4px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center ; */
    min-height: 100vh;
    background: hsl(0, 0%, 0%);
    font-family: consolas;
}
.banner{
    position: absolute;
    text-align: center;
    top: 7%;
    transform: translate(-50%,-50%);
    color: rgb(0, 255, 0);
    padding: 25px 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
    background: #1c0750;


}
.banner:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);

}

.banner span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0C002B, #1779ff);
    animation: animate1 2s linear infinite;
} 
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.banner span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0C002B, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
} 
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.banner span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0C002B, #1779ff);
    animation: animate3 2s linear infinite;
} 
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.banner span:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0C002B, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
} 
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
#a{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
} 
#a:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#b{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#b:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#c{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#c:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#d{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#d:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#e{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#e:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#f{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#f:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#g{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#g:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
#h{
    width: 140px;
    height: 90px;
    border-radius: 9px;
    padding: 15px 30px;
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    background: rgb(156, 15, 15);
}
#h:hover{
    color: black;
    background: #fa2323;
    box-shadow: 0 0 10px #fa2323, 0 0 40px #fa2323, 0 0 80px #fa2323;
    transition-delay: .1s
}
